body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#main {
  height: 100%;
  background: repeat url("../images/p/usflag.gif") hsl(240, 50%, 60%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main video {
  width: 100%;
  height: auto;
  max-width: 725px;
  max-height: 540px;
  box-shadow: -19px -17px #818181;
  object-fit: cover;
}

#main video:focus {
  outline: none;
}

footer {
  position: absolute;
  left: 50%;
  bottom: 33px;
  padding: 0;
}

#link {
  position: relative;
  left: -50%;
}

#link img {
  height: 75px;
}

#link:hover, #main video:hover {
/*   cursor: url(../images/m/circle.png), pointer; */
}
