body,
html {
  height: 100%;
  margin: 0;
}

#main {
  height: 100%;
  background: repeat url("../images/j/down.gif") hsl(0, 0%, 2%);
  background-size: 6.25px 3.125px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main video {
  width: 75%;
  height: auto;
  max-width: 725px;
  max-height: 540px;
  box-shadow: 19px 17px #060606;
  object-fit: cover;
}

#main video:focus {
  outline: none;
}

footer {
  position: absolute;
  left: 50%;
  bottom: 33px;
  padding: 0;
}

#link {
  position: relative;
  left: -50%;
  background-color: black;
}

#link:hover, #main video:hover {
  cursor: url(../images/j/point.gif), pointer;
}
